@import url(https://fonts.googleapis.com/css?family=Actor);
/* Site-wide css for ag-cn */

/* fonts */
html, body {
	font-family: 'Actor', 'sans-serif';
	color: #777;
	-webkit-transition: all 400ms ease-in;
	-moz-transition: all 400ms ease-in;
	-ms-transition: all 400ms ease-in;
	-o-transition: all 400ms ease-in;
	transition: all 400ms ease-in;
}

/* color scheme */
.brand-yellow {
	color: #e0dd67;
}
.brand-blue {
	color: #67a7e0;
}
.brand-red {
	color: #e0676b;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover
{ background-color: #e0dd67; color:white;}


/* general */
#loading-animation {
	display:block;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:white;
	padding-top:15%;
}
.sk-cube-grid {
  width: 60px;
  height: 60px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #67a7e0;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

/* lobby */
.room-description {
	min-height:100px;
	margin: 15px 0;
	cursor:pointer;
}
.room-description:hover {
	background-color: #e0dd67;
}

/* game room */
#game-room {
	display:none;
}
.game-card {
	height:100px;
	padding-top:40px;
	border: 1px ridge #777;
	font-size: 18px;
}
.game-card:hover {
	color:#e0dd67;
	cursor:pointer;
}
#game-room .btn {
	background-color: #e0dd67;
	color:red;
	margin:0 0 15px 0;
	font-weight: bold;
}
#game-room .choose-team-btn {
	color:white;
}
.team-0, #game-room #choose-team-0 {
	background-color: #67a7e0; /*blue*/
}
.team-1, #game-room #choose-team-1 {
	background-color: #e0676b; /*red*/
}
.team-2 {
  background-color: #e0dd67;
}
.team-null, .team-none {
	background-color: #777;
	color:white;
}
.spymaster-outline {
	outline:3px solid white;
	color:white;
}